@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 289 83% 55%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 215.4 16.3% 46.9%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 256 100% 47%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 289 83% 55%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 255 4% 14%;
    --foreground: 0 0% 98%;

    --card: 255 4% 18%;
    --card-foreground: 0 0% 98%;
 
    --popover: 255 4% 14%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 289 83% 55%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 255 4% 24%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 255 4% 24%;
    --muted-foreground: 0 0% 63.9%;
 
    --accent: 256 100% 47%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 255 4% 24%;
    --input: 255 4% 20%;
    --ring: 289 83% 55%;

    --chart-1: 289 83% 55%;
    --chart-2: 256 100% 47%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .neon-icon {
    @apply text-primary drop-shadow-[0_0_8px_theme(colors.primary)];
  }

  .neon-accent {
    @apply text-accent drop-shadow-[0_0_8px_theme(colors.accent)];
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
